Task 1:
Created a github repository. Then cloned the repository to my local machine.
Then created the data directory using mkdir command.
Then creaetd the weather and timestamps subdirectories using the same commands.

mkdir data

cd data

mkdir weather

mkdir timestamps

Task 2

  Navigated to the timestamps directory, appended the current date and time 10 times to now.txt using the date command, and verified the contents with the more command.

cd data/timestamps
  
for i in {1..10}; do date >> now.txt; done
  
more now.txt

Task 3

Used the date command with formatting options (`%Y%m%d_%H%M%S`) to output a timestamp in the specified format and appended it to formatted.txt

date +"%Y%m%d_%H%M%S" >> formatted.txt

Task 4

Created empty files with names in the `YYYYmmdd_HHMMSS.txt` format by embedding the date command within backticks.

touch `date +"%Y%m%d_%H%M%S"`.txt

Task 5

Used the wget command with the -O option to download and save weather data as weather.json.

cd data/weather
  
wget -O weather.json https://prodapi.metweb.ie/observations/athenry/today

Task 6

Modified the wget command to include a timestamped filename.

wget -O `date +"%Y%m%d_%H%M%S"`.json https://prodapi.metweb.ie/observations/athenry/today

Task 7

Automated the weather data download process and saved files with timestamped names in the data/weather directory.

#!/bin/bash

  mkdir -p data/weather
  
  wget -O data/weather/`date +"%Y%m%d_%H%M%S"`.json https://prodapi.metweb.ie/observations/athenry/today

Executed the script:
bash weather.sh

In [1]:
import os
import pandas as pd

In [3]:
file_path = "data/weather/weather.json" 

weather_data = pd.read_json(file_path)
display(weather_data.head())

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,SE,135,86,0,1022,Friday,2024-08-11,00:00
1,Athenry,13,04n,Cloudy,"""Cloudy""",13,-,SE,135,87,0,1021,Friday,2024-08-11,01:00
2,Athenry,12,04n,Cloudy,"""Cloudy""",11,-,SE,135,89,0,1021,Friday,2024-08-11,02:00
3,Athenry,13,04n,Cloudy,"""Cloudy""",15,-,SE,135,86,0,1021,Friday,2024-08-11,03:00
4,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,SE,135,84,0,1021,Friday,2024-08-11,04:00

The data contains weather observations from the Athenry weather station. Columns include metrics such as temperature, humidity, and wind speed.

In [4]:
# Display basic information about the dataset
print(weather_data.info())

# Summarize numerical columns
print(weather_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   23 non-null     object
 1   temperature            23 non-null     int64
 2   symbol                 23 non-null     object
 3   weatherDescription     23 non-null     object
 4   text                   23 non-null     object
 5   windSpeed              23 non-null     int64
 6   windGust               23 non-null     object
 7   cardinalWindDirection  23 non-null     object
 8   windDirection          23 non-null     int64
 9   humidity               23 non-null     int64
 10  rainfall               23 non-null     int64
 11  pressure               23 non-null     int64
 12  dayName                23 non-null     object
 13  date                   23 non-null     datetime64[ns]
 14  reportTime             23 non-null     object
dtypes: datetime64[ns](1), int64(6), object(8)
memory usage: 2.8+ KB
None
       temperature  windSpeed  windDirection   humidity  rainfall  \
count    23.000000  23.000000      23.000000  23.000000      23.0
mean     12.869565  10.782609     131.086957  84.565217       0.0
min      12.000000   6.000000      90.000000  80.000000       0.0
25%      12.500000   9.000000     135.000000  83.000000       0.0
50%      13.000000  11.000000     135.000000  85.000000       0.0
75%      13.000000  13.000000     135.000000  86.000000       0.0
max      14.000000  15.000000     135.000000  89.000000       0.0
std       0.625543   2.334650      12.964683   2.252798       0.0

          pressure                 date
count    23.000000                   23
mean   1020.565217  2024-08-11 00:00:00
min    1020.000000  2024-08-11 00:00:00
25%    1020.000000  2024-08-11 00:00:00
50%    1021.000000  2024-08-11 00:00:00
75%    1021.000000  2024-08-11 00:00:00
max    1022.000000  2024-08-11 00:00:00
std       0.589768                  NaN

The dataset from Met Éireann provides hourly weather observations for Athenry, including metrics like temperature, humidity, wind speed, rainfall, and pressure. It spans over 30 years and is updated monthly, offering a rich resource for understanding regional climate patterns. The data supports agricultural meteorology, climate research, and public awareness, allowing analysis of weather trends.

The dataset contains weather observations, including columns for metrics such as temperature, humidity, wind speed, and atmospheric pressure. Most columns have complete data, indicating minimal missing entries and ensuring the dataset's reliability for analysis.

The statistical summaries of numerical columns, such as temperature and wind speed, provide insight into their distributions. The temperature shows a defined range, mean, and standard deviation, reflecting its variability across time. Overall, the dataset is well-structured and ready for further exploration, including trend analysis or visualization.